body {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 1500px;
}

.main-canvas {
    border:black 3px solid;
    background-image: url("../images/temp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

