a { 
    color: inherit; 
    text-decoration: none;
} 

body {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    max-height: 800px;
    background-image: url("../images/website-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-canvas {
    border:black 3px solid;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title-author-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #bc6c25;
    -webkit-text-stroke: 1px #dda15e;
    margin-bottom: -30px;
    font-family: Bangers, cursive;
}

.angered-birdy-title {
    font-size: 60px;
}

.author-name{
    padding-top: 30px;
    padding-left: 15px;
    -webkit-text-stroke: 0.4px black;
}

.nav-links-header {
   border: 3px solid #dda15e;
   background-color: #ffefff;
   border-radius: 5px;
   display: flex;
   max-width: 338px;
   background: #606c38;
}

.nav-links-header > ul {
    margin: -6px;
    list-style: none;   
    padding: 12px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: Bangers, cursive;
}

.readme {
    padding-left: 8px;
    border-left: 1px solid gray;
}

li {
    padding: 0 8px;
    border-right: 1px solid gray;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.start-button {
    background-color: #606c38;
    border-color: #dda15e;
    padding: 8px;
    border-radius: 1rem;
    font-family: Bangers, cursive;
    cursor: pointer;
}

.restart-button {
    background-color: #606c38;
    border-color: #dda15e;
    padding: 8px;
    border-radius: 1rem;
    font-family: Bangers, cursive;
    cursor: pointer;
}

.reset-highscore {
    background-color: #606c38;
    border-color: #dda15e;
    padding: 8px;
    border-radius: 1rem;
    font-family: Bangers, cursive;
    cursor: pointer;
}

.model-button {
    background-color: #606c38;
    border-color: #dda15e;
    padding: 8px;
    border-radius: 1rem;
    font-family: Bangers, cursive;
    cursor: pointer;
}

.hide {
    display: none;
}

.model-button:hover + .hide {
    font-family: Bangers, cursive;
    display: block;
    margin-left: 450px;
    position: fixed;
    height: fit-content;
    width: 700px;
    border: 4px solid rgba(128, 128, 128, 0.514);
    border-radius: 5px;
    box-sizing: border-box;
    top: 20px;
    background: #dda15e;
}

.model-title {
    font-weight: bold;
    padding-left: 40px;
}

ol > li {
    padding-bottom: 6px;
}